@charset "utf-8";
/*공통*/

body{margin: 0; font-family:'AppleGothicNeo','NotoSansKR',고딕,sans-serif;}
a{display: block; text-decoration: none;color: black;}
ul{list-style: none; padding: 0;margin:0;}

/**header**/
.sticky{ position: fixed;z-index: 9999;top: 0; left: 0; width: 100%; height: auto;}
header{position: relative; background-color: white; height: 60px;display: flex; justify-content: center;align-items: center;}

header h1{display: flex; justify-content: center;}
header h1 img{width: 200px;}
header .gnb, header .lang {display: none;}
header .burger img, .dashed img{display: block; width: 20px;}
header .burger { position: absolute; top: 25%; left: 3%;}
header .dashed{position: absolute; top: 25%; right: 3%;}

/*menu*/
.menu.active{display: flex;}
.menu{justify-content: center; align-items: center; background-color: rgba(31, 31, 31, 0.97); width: 100%; height: 100vh; position: absolute; top: 0; left: 0;text-align: center;display: none;}

.menu .close img{width: 25px;position: absolute; top: 30px; right: 30px;}
.menu .submenu a{font-size: 26px; color: white;}
.menu .submenu p{display: none;}

/**main**/
/*video*/
main .image{position:relative;}
main .image video{ position:absolute; left:0; top:0; width:100%;height:100%;/*video 화면조절*/ object-fit:cover;}

/*main photos*/
main .photos:nth-of-type(1),main .photos:nth-of-type(2) {height:69.581528vh; margin: 4%; margin-top: 9%;}
main .photos:nth-of-type(1){background: url(../images/cokemainpage/Homepage.png) no-repeat center /cover;}
main .photos:nth-of-type(2){background: url(../images/mountain-range.jpg) no-repeat center ;}
main .photos{position: relative; margin: 0 10px;border-radius:10px;}
main .photos .connect{text-align: right; color: white; position: absolute; bottom:3vw; right:3vw; padding: 20px 40px;  background-color: rgba(0,0, 0, 0.5); line-height: 1.4; letter-spacing:1px;  width: 250px;}
main .photos .connect p a{ color: white; position: absolute; bottom: 42px; right: 80px;font-size: 1.5rem;}
main .photos .connect p img{margin-left: 20px;}

/*main contents*/
main .borders{margin-top: 95px;display: flex; flex-direction: column; align-items: center;}
main .borders section{ width: 345px; padding-top: 44px; border-top: 1px solid #c4c4c4;line-height:24px; margin: 44px auto 0;}
main .borders .press{border:none; margin-top: 0; padding-top: 0;}
main .borders section h3{margin: 30px 0 20px;}
main .borders .stock h3{font-size: 25px;}
main .borders section > img{width:343px; border-radius: 10px;}
main .borders section p{text-transform: uppercase;}
main .borders section span{display: none;}


/*arrow fixed*/
main .borders a img{padding: 90px;display: block;}

/*lists*/
main .lists{display: flex; flex-direction: column; width: 100%;}
main .lists li{border-bottom: 1px solid #c4c4c4; padding: 10px;}
/**footer**/
footer{background-color: #1e1e1e; color: white;width:100%; display: flex; flex-direction: column; align-items: center; padding: 20px; box-sizing: border-box;}
footer img{ width: 200px; }
footer ul li a{color: #b5b5b5;}
footer .lnb{display: flex; flex-wrap: wrap; height: 100px; justify-content: center;margin: 30px 20px 30px 40px;}
footer .lnb li{ width: 135px; }
footer .sns{display: flex; margin-bottom: 20px; }
footer .sns li{margin: 1.2vw;}
footer .sns li a img{width: 25px;}
footer p{font-size: 0.8em;color: #b5b5b5; margin: 0;}

/*tablet*/
@media screen and (min-width:768px){
        /*main contents*/
        main .borders section{ 
        width: calc(768px - 5%);padding-left:30px;}
        main .borders section > img{height:413px; width: auto}
}

/*PC*/
@media screen and (min-width:1440px){
        body{font-family: 'NotoSansKR';font-weight: 400; font-size: 16px; line-height: 58px;}
        /*header*/
        header{display: flex; justify-content: space-around; align-items: center;}
        header .burger, header .dashed{display: none;}
        header h1{ width: 200px; margin: 12px;}
        header .gnb{display: block; display: flex; justify-content: space-around; width: 40%; font-weight: 600;}
        header .lang{display: block; width: 80px;  display: flex; justify-content: space-between; text-transform: uppercase;font-size: 14px;font-family: 'AppleGothicNeo';}
        header .lang li a span{font-weight: bold;}
        header .gnb li:hover a{ color: rgb(224, 0, 0);}
        header:hover .menu{ display: block;}

        /*hidden menu*/     
        .menu{background-color: white;width:100%; font-size:13px;position: absolute; top: 50px; left: 0; height: fit-content; }
        .menu.active{display: none;}
        .menu .menu-width{ border: 1px solid #e1e1e1; display: flex; margin: auto; justify-content: center;}
        .menu .submenu{border: 1px solid #e1e1e1;border-top:none;border-bottom:none; width: 12.5%; text-align: center;box-sizing: border-box; padding: 2%;}
        .menu .submenu h3,.menu .submenu p{padding: 0; margin: 0;}
        .menu .submenu p{height: 30px; line-height: 20px;font-weight: 500;display: block;}
        .menu .submenu a{font-size: 14px;color: #000;}
        .menu .submenu h3{font-weight: 600; font-size: 14px;}      

        /*main contents*/
        main .photos .connect{font-size: 26px; width: 530px; text-align: left;}
        main .wrap .photos:nth-of-type(1) .connect img{left: 35%;}
        main .photos .connect p a{position: static; text-align:left;}
        main .photos .connect img{position: absolute;bottom: 49px;left: 45%;}     

        .borders{width: 100%;}
        main .borders{display: flex; flex-direction: row; flex-wrap: wrap;align-items:start;justify-content: center;}
        main .borders section{ width:calc(33.33333% - 1.5%); box-sizing:border-box;border:none;line-height:24px; margin: 0 0 80px 0; padding: 0 2vw;}
        main .borders section p{text-transform: uppercase; width: 400px;}
        main .borders section span{display:block;font-size: 14px; color: #999; text-decoration: underline;}

        main .borders section > img{height:250px;} 
        main .lists{display: none;}

        /*arrowup fixed JS*/
        main .borders > a {position: fixed; bottom: 12%; right: 10px; visibility: hidden; opacity: 0;transition: 0.3s;
        /*arrow decoration*/
        width: 43px; height: 43px; background-color: #1e1e1e;border-radius: 50%; position: fixed;}
        .arrowup.activename{visibility: visible;opacity: 1;}
        /*arrow decoration*/
        main .borders a.arrowup img{position: absolute; top: 50%; left: 50%;
                transform: translate(-50%,-50%); padding: 0;}

        
               
       /**footer**/
   footer{ display: flex; flex-direction: row; position: relative; padding: 5%; }
   footer > img{ position: absolute; top: 15%; }

   footer .lnb {display: flex; position: absolute;  right: 3%;top:10px; min-width: fit-content;margin: 0; height: auto;}
   footer .lnb li{padding-right:20px;width:auto; height: auto;}
   footer .sns{ position: absolute; bottom: 5%; right: 5.5%;margin: 0;}
   footer .sns li{ margin:0;margin-right: 8%;}
   footer p{position: absolute; bottom:7%;}

}

/*드래그 컬러*/
::selection{background:rgba(107, 182, 74,0.99)}
img::selection{background:none}